.cart-body{
  position: relative;
  padding-top: 150px;
}
.cart-shopping{
  padding: 50px 0;
}
.cart-shopping img{
width: 100px;

}
.cart-shopping-empty{
  position: relative;
  height: 90vh;
}
.card-title{
text-align: center;
padding-top: 50px;
color: var(--main-color);
}
.cart-shopping-empty .center{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
}
.cart-shopping-empty .center .btn{
  padding: 9px 16px;
  color: var(--main-color);
border: 1px solid var(--main-color);
font-weight: bold;
margin-top: 20px ;

}
.cart-shopping-empty .center img{
  text-decoration: none;
  color: inherit;
  border: none;
  width: 300px;
  margin: 20px 0;
}
.cart-shopping-empty h4,
.cart-shopping-empty h6{
  font-weight: 400;
}





