<div class="account">
  <div class="overlay"></div>
  <div class="container col-lg-7 col-md-9">
    <h5 class="logo">GABOoO</h5>
    <h2>Welcome to Gabooo Control Control, create cool designs</h2>
    <div class="row pt-5">
      <div class="col-sm-4 pb-4">
        <button routerLink="/AddCollection" class="btn btn-outline-info">Add Collection</button>
      </div>
      <div class="col-sm-4 pb-4">
        <button routerLink="/UpdateCollection" class="btn btn-outline-warning">Update Collection</button>
      </div>
      <div class="col-sm-4 pb-4">
        <button routerLink="/DeleteCollection" class="btn btn-outline-danger">Delete Collection</button>
      </div>
    </div>
  </div>
</div>
