<app-navbar></app-navbar>
<div class="home">
<div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
    <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="././././././assets/image/slider-1.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h1>FASHION THAT LIKESTO SAY YES</h1>
        <p>Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui. Vivamus suscipit tortor eget felis porttitor volutpat.</p>
        <a routerLink="AllCollection">SHOP NOW</a>
      </div>
    </div>
    <div class="carousel-item">
      <img src="././././././assets/image/slider-2.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h1>FASHION THAT LIKESTO SAY YES</h1>
        <p>Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui. Vivamus suscipit tortor eget felis porttitor volutpat.</p>
        <a routerLink="AllCollection">SHOP NOW</a>
      </div>
    </div>
    <div class="carousel-item">
      <img src="././././././assets/image/slider-3.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h1>FASHION THAT LIKESTO SAY YES</h1>
        <p>Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui. Vivamus suscipit tortor eget felis porttitor volutpat.</p>
        <a routerLink="AllCollection">SHOP NOW</a>
      </div>
    </div>
  </div>
</div>
</div>
<app-footer></app-footer>
