<div class="advertisement">
  <h3>season sale</h3>
  <h2>up to 70% off</h2>
</div>
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h5 class="logo-footer">gabooo</h5>
        <p>Pellentesque in ipsum id orci porta dapibus. Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus.</p>
        <p class="Copyright">Copyright © 2017 All Rights Reserved by <span>Saico</span> .</p>
      </div>
      <div class="col-md-4">
        <div class="row">
        <div class="col-6">
          <h5>Link</h5>
          <ul class="list-unstyled">
            <li>Home</li>
            <li>Sing In</li>
            <li>Regiter</li>
            <li>FAQ</li>
            <li>Support</li>
            <li>Terms and Condition</li>
          </ul>
        </div>
        <div class="col-6">
          <h5>Shopping</h5>
          <ul class="list-unstyled">
          <li>Shopping cart</li>
          <li>Winter</li>
          <li>Spring</li>
          <li>Summer</li>
          <li>Fall</li>
          <li>Condition</li>
        </ul>
      </div>
    </div>
      </div>
      <div class="col-md-4">
        <h5>Content Us</h5>
        <p>Get in touch with us via mail phone.We are waiting for
          your call or message</p>
          <a class="link-graphberry" href="https://www.graphberry.com/item/gabooo-free-fashion-ecommerce-theme">graphberry@gmail.com</a>
          <div class="social-icons">
            <i class="fab fa-facebook-square"></i>
            <i class="fab fa-instagram"></i>
            <i class="fab fa-twitter"></i>
        </div>
        </div>
    </div>
  </div>
</footer>
